section {
  font: 500 'Poppins' sans-serif;

  
  .Card {
    margin: 2rem 1rem;
  }

  .Cama {
    width: 100%;
    border: 0.100rem solid rgba(0, 0, 0, 0.3);
    border-radius: 1.2rem;
  }

  .Title-sub {
    margin: 0;
  }
}