#Hero {
  font: 500 'Poppins' sans-serif;
  background: #CAD3C8;

  .Frase {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 4rem;
  }

  img {
    max-width: 100%;
  }
  
  .Bed {
    position: absolute;
    margin: 12rem 3rem;
  }

  .photo {
    margin-bottom: 2rem;
  }

  .Photo1 {
    margin: 11rem 1rem;
  }

  .Photo2 {
    margin: -9rem 3rem; 
  }

  .Photo3 {
    padding-top: 1rem;
  }

  .Photo4 {
    max-width: 150%;
    margin-right: 1rem;
    position: absolute;
    margin: 0.5rem;
  }

  .Subtitle {
    text-align: center;
    font-size: 1.5rem;
  }

  button {
    border: 0;
    padding: 1rem 2.5rem ;
    background: #1B9CFC;
    border-radius: 0.600rem;
  }

  button a {
    color: white;
    font-size: 1rem;
  }

  .Button {
    margin-top: 4rem;
    text-align: center;
    padding-bottom: 2rem;
    
  }

}